<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Type of Login</title>
</head>
<body>
<div th:replace="fragment/resuable ::generic_css"></div>
<div th:replace="fragment/resuable ::script"></div>
<div th:replace="fragment/resuable ::font"></div>
<div th:replace="fragment/resuable ::navbar_css"></div>
<div th:replace="fragment/resuable ::navbar_css"></div>
<div th:replace="fragment/resuable ::navbar"></div>

    <ul>
      <li><a href="#"><i class='far fa-user'></i> Police Login</a></li>
     <li><a href="#"><i class='far fa-user'></i> Incharge Login</a></li>
        <li><a href="#"><i class='far fa-user'></i> HQ Login</a></li>
</ul>

</body>
</html>