<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>complain || List</title>
    <style>
        .tab
        {
            margin-left: 200px;
            margin-right: 200px;
            margin-top: 50px;
        }
    </style>
</head>
<body style="background-color: #999999">
<div th:replace="fragment/userResuable ::generic_cs"></div>
<div th:replace="fragment/userResuable ::script"></div>
<div th:replace="fragment/userResuable ::fonts"></div>
<div th:replace="fragment/userResuable ::navbar_css"></div>
<div th:replace="fragment/userResuable ::navbar_css"></div>
<div th:replace="fragment/userResuable ::usernavbar"></div>
<div class="tab">
    <table class="table table-hover">
        <h2 style="font-size: 30px"><b><u>Complain List</b></u></h2>
        <thead class="table-dark">
        <tr>
            <th scope="col">SN</th>
<!--            <th scope="col">Name</th>-->
            <th scope="col">Address</th>
            <th scope="col">Crime Type</th>
            <th scope="col">Crime Date</th>
            <th scope="col">Complain Date</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="complain,loop :${complainList}">
            <th th:text="${loop.count}"></th>
            <td th:text="${complain.address}"></td>
            <td th:text="${complain.crimeType}"></td>
            <td th:text="${complain.crimeDate}"></td>
            <td th:text="${complain.complainDate}"></td>
            <td th:text="${complain.complainStatus}"></td>
            <td>
                <a th:href="@{~/complain/view/}+${complain.id}">
                    <botton class="btn btn-info">View</botton>
                </a>
                <a th:href="@{~/complain/update/}+${complain.id}">
                    <botton class="btn btn-primary">Update</botton>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>