<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>USER || HOME</title>
    <style>
        .vh-100
        {
            background-color: #5aaad7;
        }
        .wl
        {
            color: #0010c9;
            margin-left: 550px;
            font-size: 50px;
        }
        .ue
        {
            color: #09fa09;
            margin-left: 300px;
            font-size: 40px;
        }
    </style>
</head>
<body>
<div th:replace="fragment/userResuable ::generic_cs"></div>
<div th:replace="fragment/userResuable ::script"></div>
<div th:replace="fragment/userResuable ::fonts"></div>
<div th:replace="fragment/userResuable ::navbar_css"></div>
<div th:replace="fragment/userResuable ::navbar_css"></div>
<div th:replace="fragment/userResuable ::usernavbar"></div>
<div class="vh-100">
<h1 class="wl">WELCOME</h1>
<h2 class="ue">USER MENU</h2>
</div>
</body>
</html>