<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OCRMS || HOME</title>
    <style>
        body {
            font-family: 'Open Sans', sans-serif;
            background: #222;
            background-image: url('https://source.unsplash.com/1600x900/?landscape');
            font-size: 120%;
        }
    </style>
</head>
<body>
      <div th:replace="fragment/resuable ::generic_css"></div>
      <div th:replace="fragment/resuable ::script"></div>
      <div th:replace="fragment/resuable ::font"></div>
    <div th:replace="fragment/resuable ::navbar_css"></div>
    <div th:replace="fragment/resuable ::navbar_css"></div>
      <div th:replace="fragment/resuable ::navbar"></div>
</body>
</html>